<template>
  <div id="app">
    <h1>Django VueJs Template</h1>
    <div id="nav">
      <router-link to="/">Vue</router-link> |
      <router-link to="/messages">Django Rest</router-link>
    </div>
    <router-view/>
  </div>
</template>

<Style lang="scss">
@import"~bulma/css/bulma.css";
</Style>

